:root {
	--color-background: rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
}

a, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}

#top {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 50px;
	padding: 10px;
	position: fixed;
	top: 0;
	background-color: white;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}

.top__list {
	display: flex;
	margin-left: auto;
	gap: 20px;
}

#chat {
	width: 50vw;
	margin: 100px auto;
}

.chat__title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.chat__container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.chat__send {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}

.chat__input {
	flex-grow: 1;
	padding: 10px;
	outline: none;
}

.chat__btn {
	background-color: rgba(0, 0, 255, .2);
	padding: 10px 20px;
	border-radius: 5px;
	outline: none;
	border: none;
	cursor: pointer;
}

.message {
	background-color: rgba(0, 0, 255, .2);
	border-radius: 10px;
	padding: 10px;
	max-width: 40ch;
	align-self: flex-start;
}

.message--my {
	background-color: var(--color-background);
	align-self: flex-end;
}

#friend-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60vw;
	margin: 100px auto;
}

.friend-list__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.user {
  background-color: var(--color-background);
  border-radius: 10px;
	max-width: 300px;
	padding: 10px;
}

.user__pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
	cursor: pointer;
}

.user__name {
  display: flex;
  gap: 10px;
	align-items: center;
}

#last-users {
	position: fixed;
	background-color: #ccc;
	border-radius: 10px 0 0 10px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

#last-users .user__pic {
	background-color: #fff;
}

#feed {
	width: 60vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feed__title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.feed__container {
	display: flex;
	gap: 20px;
}

.post {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: var(--color-background);
	border-radius: 20px;
}

.post__image {
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

#quote {
	display: flex;
	flex-direction: column;
	width: 60vw;
	margin: 0 auto;
	margin-top: 100px;
}

.quotes__title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.quote {
	text-align: center;
}

#bottom {
	background-color: var(--color-background);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}